<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- service -->
    <bean id="commentService" class="com.crow.service.CommentService"/>
    <bean id="postService" class="com.crow.service.PostService"/>
    <bean id="titleWordService" class="com.crow.service.TitleWordService"/>
    <bean id="userService" class="com.crow.service.UserService"/>
    <bean id="commentWordService" class="com.crow.service.CommentWordService"/>
</beans>